@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

$h1color: #FF1E22;
$h2color: #37653F;


h1,
h2 {
    color: $h1color;
    font-weight: 700;
    font-size: 46px;
    padding: 10px 0 20px 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h3,
h4,
h5 {
    color: $h2color;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}



.navbar {
    background-color: #fff;
    transition: .2s;

    .logo {
        transition: .2s;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .navbar-collapse {
        padding: 5px 0px;
        text-align: center;
    }

    .nav-link {
        color: $h2color;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 30px;

        &:hover {
            color: $h1color !important;
        }
    }

    .dropdown-item {
        font-size: 14px;
        padding: 3px 5px;
        color: $h2color;
        background-color: white;

        &:hover {
            color: $h1color;
        }
    }

    .active {
        color: $h1color !important;
        background: $h2color;
        border-radius: 30px;
    }

}

section {
    padding: 30px 0 60px 0;

}

#home {

    background-image: url(../img/Background/1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 30px;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    h1 {
        font-size: 74px;
        color: $h1color;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    h4 {
        padding-bottom: 5px;
        color: $h2color;
        font-size: 34px;
    }

    p {
        color: white;
        font-size: 18px;
    }

}

#about {
    background-color: rgba(250, 250, 250, 0.7);
}

#ourteam {
    background-color: rgba(255, 255, 255, 1);
    h3{
        padding: 0px;
    }
    .team {
        align-items: center;
        text-align: center;
        margin-top: 10px;

        .teambox {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 1px 1px 5px #000;

            .more {
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
                background-color: $h2color;
                border: none;

                &:hover {
                    background-color: $h1color;
                }
            }

            .bi {
                font-size: 20px;
            }

            .bi-facebook {
                color: #3b5998
            }

            .bi-linkedin {
                color: #0072b1;
            }

            .bi-instagram {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                color: #fff;
                padding: 0 1px;
                border-radius:  5px;
            }
        }

        .team-img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            box-shadow: 1px 2px 4px #000;
            padding: 1px;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 24px;
            padding: 0px;
            font-weight: 700;
            margin: 15px 0;
        }

        span {
            font-size: 18px;
            font-weight: 500;
            color: rgb(150, 150, 150);
        }
        p{
            margin: 15px 0;
        }

    }
}

#program {
    background-color: rgba(250, 250, 250, 0.7);

    .card {
        margin-top: 5px;
        text-align: center;

        p {
            text-align: justify;
            padding: 0px 30px;
        }

        a {
            color: $h1color;

            &:hover {
                color: $h2color;
            }
        }

        img {
            padding: 5px;
            height: 300px;
            width: 300px;
        }
    }
}

#contact {
    padding-bottom: 30px;

    .row {
        padding-top: 15px;
    }

    .bi {
        color: #9BE04D;
        font-size: 60px;
    }

    .bi-facebook {
        color: #3b5998;
    }
}

footer {
    padding: 10px 0px;
    background-color: rgba(233, 0, 0, 0.8);
    color: #fff;

    p {
        margin: 0px;
    }
}

.sp {
    img {
        width: 100%;
        height: 300px;
    }

    ol {
        list-style: none;
    }
}

.bor {
    border-top: 1px solid #000;
    padding: 30px 0px;
}

.tbor {
    border-bottom: 3px solid $h2color;

}

.cont {
    padding: 30px 0px;

}

.pro {
    h3 {
        font-size: 34px;
        color: $h1color;
        padding: 20px 0px;
        text-transform: uppercase;
    }
}

#teams{
    .t-img{
        padding: 10px ;
    }
    img{
        height: 100%;
        width: 100%;
        padding: 1px;
        border-radius: 5px;
    }
    .row{
        margin: 5px 0;
        padding: 10px 0px;
        box-shadow: 2px 1px 5px #000;
        border-radius: 10px;
    }
    h3{
        color: $h1color;
        font-size: 42px;
        font-weight: 600;
        padding-bottom: 60px;
    }
    .t-disc{
        padding: 10px 30px;
        h4{
            padding-top: 0px;
            text-align: center;
        }
        p{
            padding-top: 10px;
            text-align: justify;
        }
        span {
            font-size: 18px;
            font-weight: 500; 
            color: rgb(150, 150, 150);
        }
        .bi {
            font-size: 20px;
        }

        .bi-facebook {
            color: #3b5998
        }

        .bi-linkedin {
            color: #0072b1;
        }

        .bi-instagram {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            color: #fff;
            padding: 0 1px;
            border-radius:  5px;
        }
    }
    
}

.b{
    border: 1px solid #000;
}